<style>
    h1{
      color:red;
    text-align: center;
    }
    ul{
      list-style:none;

    }
    button{
      font-size: large;
      font-weight: bold;
    }
  </style>
<ul>
    <li class="item" [routerLinkActive] = "['active']">
      <button  [routerLink] = "['/Maxime']" pButton type="button" label="Maxime" icon="pi pi-check" style="margin-right: .25em"></button>
    </li>
    <br>
    <li class="item" [routerLinkActive] = "['active']">
      <button  [routerLink] = "['/Amaury']" pButton type="button" label="Amaury" icon="pi pi-check" style="margin-right: .25em"></button>
    </li>
    <br>
    <li class="item" [routerLinkActive] = "['active']">
        
        <button  [routerLink] = "['/Usman']" pButton type="button" label="Usman" icon="pi pi-check" style="margin-right: .25em"></button>
    </li>
  </ul>