<style>
    h1{
      color:red;
    text-align: center;
    }
    ul{
      list-style:none;

    }
    button{
      font-size: large;
      font-weight: bold;
    }
  </style>
<ul>
    <li class="item" [routerLinkActive] = "['active']">
        <button [routerLink] = "['/Maxime']">Maxime</button>
    </li>
    <br>
    <li class="item" [routerLinkActive] = "['active']">
        <button [routerLink] = "['/Amaury']">Amaury</button>
    </li>
    <br>
    <li class="item" [routerLinkActive] = "['active']">
        <button [routerLink] = "['/Usman']">Usman</button>
    </li>
  </ul>