<app-navigatie></app-navigatie>
<div class="mainPage">
    <div class="item">
        <h1>Deel3 oefeningen</h1>
        <app-angulardeel3></app-angulardeel3>
    </div>
    <div class="item">
        <h1>Deel4 oefeningen</h1>
        <app-angulardeel4></app-angulardeel4>
        
    </div>
    <div class="item">
        <h1>Deel5 oefeningen</h1>
        <app-angulardeel5></app-angulardeel5>
        
    </div>
    <div class="item">
        <h1>Pokemon Oefening</h1>
        <app-pokemon></app-pokemon>
        
    </div>
   
</div>


