<style>
  h1{
    color:red;
  text-align: center;
  }


  ul{
    list-style: none;
  }
  button{
    font-size: large;
    font-weight: bold;
  }

</style>
<h1>Angluar Examen oefening</h1>
<br>
<ul>
<li [routerLinkActive] = "['active']"><button [routerLink] = "['/Maxime']">Maxime</button></li>
<br>
<li [routerLinkActive] = "['active']"><button [routerLink] = "['/Amaury']">Amaury</button></li>
<br>
<li [routerLinkActive] = "['active']"><button [routerLink] = "['/Usman']">Usman</button></li>
</ul>
