<br>
<h3>Angular 5 oefeningen</h3>
<div *ngIf="imageUrl">
    <p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" [src]="imageUrl">
        </p-header>
        <p-dropdown [options]="options" #value (onChange)="randomImage(value.value)"></p-dropdown>

    </p-card>
</div>


<br><br>

<h3>Two way binding 3</h3>
<input type="text" pInputText placeholder="Naam" [(ngModel)]="persoon.naam"/>
<input type="text" pInputText placeholder="Voornaam" [(ngModel)]="persoon.voornaam"/><br>
<input type="text" pInputText placeholder="Straat" [(ngModel)]="persoon.straat"/>
<input type="text" pInputText placeholder="Nr" [(ngModel)]="persoon.nummer"/><br>
<input type="text" pInputText placeholder="Gemeente" [(ngModel)]="persoon.gemeente"/><br>
<button pButton type="button" class="ui-button-rounded" label="Bewaren" (click)="showInfo=true"></button>

<br>
<div *ngIf="showInfo">
    {{persoon.naam}}
    {{persoon.voornaam}} <br>
    {{persoon.straat}}
    {{persoon.nummer}} <br>
    {{persoon.gemeente}}
</div>

<h3>Parent-Child</h3>
<div *ngIf="checked">
</div>
<p-toggleButton [(ngModel)]="checked"></p-toggleButton>
